* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background: #f0f0f0;
  margin: 0;
  min-width: 360px;
  overflow: auto;

  *::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 1.8rem;
  gap: 0.5rem;
  color: #152f66;

  img {
    display: inline-block;
    height: 0.8em;
  }
}

h2 {
  margin-top: 0;
}

h3, h4 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

a {
  color: #152f66;
}

code {
  background-color: #e6e6e6;
  padding: 0.1rem 0.25rem;
  border-radius: 0.25rem;
  font-family: 'Fira Code', monospace;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

select {
  color: inherit;
  background: white;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select,
input {
  width: calc(100% - (0.5rem * 2));
  box-sizing: content-box;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

input[type="url"] {
  cursor: text;
}

input[type="color"] {
  background-color: #fff;
}

select,
input[type="url"],
input[type="number"] {
  height: 1.7rem;
}

pre {
  background: #e6e6e6;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.4;
  cursor: pointer;
  user-select: all;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem;
  gap: 2rem;
  margin-inline: auto;
  max-width: 1024px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  background-color: #e6e6e6;
  padding: 2rem;
  border-radius: 4px;
}

.control-group {
  min-width: 120px;
  margin-bottom: 1rem;
}

@media (min-width: 930px) {
  .control-group {
    width: calc(25% - 0.75rem);
  }
}

@media (max-width: 929px) {
  .control-group {
    width: calc(33.33% - 0.6666rem);
  }
}

@media (max-width: 699px) {
  .control-group {
    width: calc(50% - 0.5rem);
  }
}

@media (max-width: 519px) {
  .control-group {
    width: 100%;
  }
}

.panel {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.download-btn {
  padding: 12px 24px;
  background-color: #00AA33;
  color: white;
  border: none;
  border-radius: 19px;
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  letter-spacing: 0.05em;
}

.inner {
  max-width: 780px;
}